body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8F8;
}
header {
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)), 
        url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/895/original/kc_skyline_2.jpg?1668184324);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 200px 0px;
    text-align: center;
}
header h1 {
    font-weight: 700;
    font-size: 92px;
    line-height: 2;
    margin: 0px;
}
main h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.5;
    text-transform: uppercase;
    text-align: center;
}
main h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #272044;
    text-align: center;
}
main h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
    text-align: center;
}
main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272044;
    opacity: 0.7;
}
main a {
    color: #272044;
    opacity: 80%;
}
section {
    padding: 40px 100px;
}
img {
    width: 100%;
}
footer {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)), url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/896/original/atkins-art-museum.jpg?1668184498);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px;
}
footer h3 {
    font-size: 18px;
    margin: 0px;
}
footer ul {
    margin: 1em 0;
    padding: 0px;
}
footer li {
    list-style: none;
    margin: 0px;
    font-size: 15px;
}
footer p {
    font-size: 15px;
}
footer a {
    color: white;
    opacity: 80%;
}
.attribution {
    color: #272044;
    opacity: 70%;
    font-size: 12px;
    margin: 0;
}
.attribution a {
    color: #272044;
}
.grid {
    display: grid;
    grid-gap: 30px;
}
.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;  
    
}
.grid-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery img {
    object-fit: contain;
    max-height: 200px;
}
footer .attribution {
    color: white;
    position: relative;
    bottom: -50px;
    left: -50px;
}
footer .attribution a {
    color: white;
}
.card {
    background-color: white;
    box-shadow: 20px 20px 40px rgba(198, 198, 198, 0.1);
    margin: 30px 0px;
}
.card-body {
    padding: 30px;
}
.button {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: #272044;
    padding: 16px;
    text-decoration: none;
    margin-top: 30px;
}
.card img {
    height: 100%;
}
.image-responsive-70 {
    display: block;
    margin: 0 auto;
    width: 70%;
}
@media (max-width:900px) {
    header {
        background-position: center;
    }
    header h1 {
        font-size: 48px;
    }
    header h2 {
        font-size: 24px;
    }
    header h3 {
        font-size: 16px;
    }
    section {
        padding: 30px 0px;
    }
    footer {
        padding: 30px;
    }
    footer .attribution {
    bottom: -20px;
    left: -20px;
    }
    .grid {
        display: block;
    }
    .grid-4-columns.gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}